node_modules
client/.next/static/chunks/webpack.js
client/.next/server/pages/login.js
client/.next/trace
client/.next/cache/webpack/client-development/0.pack
client/.next/cache/webpack/client-development/0.pack
client/.next/cache/webpack/client-development/1.pack
client/.next/cache/webpack/client-development/2.pack
client/.next/cache/webpack/client-development/3.pack
client/.next/cache/webpack/client-development/4.pack
client/.next/cache/webpack/client-development/6.pack
client/.next/cache/webpack/client-development/5.pack
client/.next/cache/webpack/client-development/7.pack
client/.next/cache/webpack/client-development/8.pack
client/.next/cache/webpack/client-development/9.pack
client/.next/cache/webpack/client-development/10.pack
client/.next/cache/webpack/client-development/index.pack.old
client/.next/cache/webpack/client-development/index.pack
client/.next/cache/webpack/server-development/0.pack
client/.next/cache/webpack/server-development/1.pack
client/.next/cache/webpack/server-development/2.pack
client/.next/cache/webpack/server-development/3.pack
client/.next/cache/webpack/server-development/5.pack
client/.next/cache/webpack/server-development/4.pack
client/.next/cache/webpack/server-development/6.pack
client/.next/cache/webpack/server-development/7.pack
client/.next/cache/webpack/server-development/8.pack
client/.next/cache/webpack/server-development/9.pack
client/.next/cache/webpack/server-development/10.pack
client/.next/cache/webpack/server-development/11.pack
client/.next/cache/webpack/server-development/12.pack
client/.next/cache/webpack/server-development/14.pack
client/.next/cache/webpack/server-development/index.pack
client/.next/cache/webpack/server-development/13.pack
client/.next/cache/webpack/server-development/index.pack.old
client/.next/server/pages-manifest.json
client/.next/static/chunks/webpack.js
client/.next/server/pages/login.js