.backgrd {
    background: #59C5BC;
  }
  
  .item {
    flex: 1; 
    background-color: #59C5BC;
    padding: 50px;
  }
  .siteNavigation {
    background-color: #59C5BC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 70px;
  }
  
  .logoButton {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    text-decoration: none;
  }
  
  .button {
    color: #080202;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    padding: 30px;
    margin: 0;
    cursor: pointer;
  }
  .diffdivs{
    display: flex;
  }
  .itemdiv1{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    height: 450px;
    width: 200px;
    border-radius: 5px;
  }
  .itemdiv2{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    height: 450px;
    width: 1000px;
    border-radius: 5px;
  }
  

  
  